<?xml version="1.0"?>
<launch>
    <!-- Params -->
    <rosparam command="load" file="$(find ros_pressure_interface)/config/hardware_params.yaml"/>
    <rosparam command="load" file="$(find ros_pressure_interface)/config/serial_com.yaml"/>

    <!-- /// Nodes /// -->
    <!-- Launch Arduino Interface -->
    <node pkg="ros_pressure_interface" type="main.py" name="arduino_interface" output="screen"/>
    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"/>

</launch>